@charset "utf-8";
/* CSS Document */
*
{
	padding: 0;
	margin: 0;
	font-family:lucida Bright;
}
.header
{
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)),url("../pics/main-pic.jpg");
	background-size:cover;
	background-attachment: fixed;
	padding-top: 30px;
	padding-bottom: 30%;
	text-align: center;
	color: #fff;
}
.header h1{
	padding-top: 260px;
	padding-bottom: 0px;
	font-size: 35px;
}
.trav{
	color:#E20B0B;
	font-size: 40px;
}
.gency{
	color:#35A0E7;
	font-size: 40px;
}
.header p
{
	margin: 18px 0px;
	font-size: 20px;
}
.header img
{
	width: 300px;
	float: left;
	padding-left: 20px;
	padding-top: 2%;
}
.wrapper a{
	;
	color: #fff;
}
.wrapper ul{
list-style: none;
margin-top: 2%;
margin-right: 3%;
}
.wrapper ul li {
background: transparent;
width: 120px;
border-radius: 90px;
border: 1px solid #fff;
height: 50px;
line-height: 50px;
text-align: center;
float: right;
color: #fff;
font-size: 16px;
position: relative;
font-family: poppins;
text-transform: uppercase;
font-weight: bold;
}
.wrapper ul li:hover{
background: #C70039 ;
}

.wrapper ul ul{
display: none;
}
.wrapper ul li:hover > ul{
display: inline-block;
}
.wrapper ul ul ul{
margin-right: : 170px;
top: 0;
position: left;
}
.input-group
{
	width: 90%;
	max-width: 500px;
	border-radius: 20px;
	background: #fff;
	margin: auto;
	padding: 5px;
	height: 30px;
}
.form-control
{
	border: 0;
	border-radius: 30px !important;
	margin: 5px;
	box-shadow: none !important;
	font-size: 15px;
	width: 40%;
	float: left;
	padding: 2px 15px;
}
.input-group-text
{
	width100px;
	background: linear-gradient(#00ff7e,#1f3d90);
	border: 0 !important;
	color: #fff!important;
	padding: 0 25px;
	border-radius: 25px !important;
	border-shadow:none !important;
	float: right;
	height: 30px;
}
.features{
	padding: 100px 0;
}
h1{
	text-align: center;
	padding-bottom: 30px;
}
.fe-img img{
	width: 35%;
	padding: 3% 30% 0;
}
.f-price h2{
	padding: 4px 32%;
}
.f-price h3{
	padding: 4px 32%;
}
.f-price p{
	padding: 4px 30%;
}
.tur-pic img{
	width: 35%;
	padding: 5% 30% 0;
}
.s-price{
	padding-right: 14%;
	padding-bottom: 200px;
}
.tra{
	color:#E20B0B;
	font-size: 20px;
	padding-bottom: 50px;
}
.genc{
	color:#35A0E7;
	font-size: 20px;
}
.banner{

	height: 500px;
	background-image: url("../pics/banner.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 17%;
}
.banner-highlights{
	padding: 70px 0px;
	background: rgba(0,0,0,0.7);
	color: #fff;
	text-align: center;
}
.banner-highlights p{
	padding-bottom: 50px;
	padding-top: 5px;
}
.booking-btn{
	width: 120px;
	padding: 8px 0px;
	outline: none !important;
	border: 2px solid #fff;
	border-radius: 50px;
	border-padding-left:40px;
	background: transparent;
	color: #fff;
}
.footer{
	padding: 40px 20px 40px;
	background-image: linear-gradient(#2d557d,#3E66D3);
	color: #fff;
}
.footer li{
	list-style:none;
	padding-left: 70px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family:lucida Bright;
}
.footer a{
	color: #fff;
}
.footer img{
	width: 260px;
	padding-bottom: 30px;
}
