@charset "utf-8";
/* CSS Document */
/*................................................................................*/
*
{
	padding: 0;
	margin: 0;
	font-family: serif;
}
.header
{
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),url("../pics/sign.jpg");
	background-size:cover;
	background-position: bottom;
	background-attachment: fixed;
	padding-top: 30px;
	padding-bottom: 50px;
	text-align: center;
	color: #fff;
}
.wrapper a{
	;
	color: #fff;
}
.wrapper ul{
list-style: none;
margin-top: 2%;
margin-right: 3%;
}
.wrapper ul li {
background: transparent;
width: 120px;
border-radius: 90px;
border: 1px solid #fff;
height: 50px;
line-height: 50px;
text-align: center;
float: right;
color: #fff;
font-size: 16px;
position: relative;
font-family: poppins;
text-transform: uppercase;
font-weight: bold;
}
.wrapper ul li:hover{
background: #C70039 ;
}

.wrapper ul ul{
display: none;
}
.wrapper ul li:hover > ul{
display: inline-block;
}
.wrapper ul ul ul{
margin-right: : 170px;
top: 0;
position: left;
}
.body-styles img{
	height:50px;
	padding: 10px 5%;
	float: left;
}
/*................................................................................*/
.main-style{
	padding: 30px;
	text-align: center;
	font-style:oblique;
	font-size: 30px;
	border-radius: 80px 0px 0px 0px;
	text-shadow: 0 3px 4px #333;
}
/*................................................................................*/
.main-style h1{
	border-radius: 10px;
	padding-top: 60px;
	color:#FFED00;
	text-shadow: 0px 5px 2px #000;
}

/*................................................................................*/

.main-style h4{
	color:#A8B9BF;
	text-shadow: 0px 5px 2px #000;
}
.signup{
	color: white;
}

/*................................................................................*/
.main-style input{
	height: 35px;
	width: 30%;
	margin: 9px;
	border-radius: 80px;
	font-size: 20px;
	text-align: center;
	border-color: #fff;
}

.main-style input:hover{

	height: 45px;
	width: 35%;
}
/*................................................................................*/

.main-style select{
	border-radius: 20px;
	border-color: aliceblue;
	height: 35px;
	font-size: 15px;
	width: 90px;
	text-align: center;
}

.main-style select:hover{
	height: 40px ;
	width: 120px;

}
/*................................................................................*/
.sign-up-btn{
	height: 50px;
	text-align: center;
	font-size: 23px;
	width: 150px;
	border-radius: 30px;
	margin: 90px;
	color:#fff;
	background: transparent;
	outline: none !important;
	border: 2px solid #fff;
}

/*................................................................................*/
.body img{

	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0.5),(0,0,0,0.9));
	background-position: center;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}
.features{
	padding: 100px 0;
}
.features h1{
	text-align: center;
	padding-bottom: 30px;
}
.fe-img img{
	width: 35%;
	height: 50%;
	padding: 3% 30% 0;
}
.f-price h2{
	padding: 4px 32%;
}
.f-price h3{
	padding: 4px 32%;
}
.f-price p{
	padding: 4px 30%;
}
.tur-pic img{
	width: 35%;
	height: 50%;
	padding: 5% 30% 0;
}
.s-price{
	padding-right: 14%;
	padding-bottom: 200px;
}
.tra{
	color:#E20B0B;
	font-size: 20px;
	padding-bottom: 50px;
}
.genc{
	color:#35A0E7;
	font-size: 20px;
}
/*................................................................................*/
.site-footer h1{

	text-align: center;
	width: 600px;
	border-radius: 0px 100px 100px 0px;
	margin: 0px;
	padding: 9px;
	color: #FFFFFF;
	text-align: center;
	font-size: 35px;
}
.banner{

	height: 500px;
	background-image: url("../pics/banner.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 17%;
}
.banner-highlights{
	padding: 70px 0px;
	background: rgba(0,0,0,0.7);
	color: #fff;
	text-align: center;
}
.banner-highlights p{
	padding-bottom: 50px;
	padding-top: 5px;
}
.booking-btn{
	width: 120px;
	padding: 8px 0px;
	outline: none !important;
	border: 2px solid #fff;
	border-radius: 50px;
	border-padding-left:40px;
	background: transparent;
	color: #fff;
}
.footer{
	padding: 40px 20px 40px;
	background-image: linear-gradient(#2d557d,#3E66D3);
	color: #fff;
}
.footer li{
	list-style:none;
	padding-left: 70px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family:lucida Bright;
}
.footer a{
	color: #fff;
}
.footer img{
	width: 260px;
	padding-bottom: 30px;
}
